Django==4.1.5
gunicorn==20.1.0
django-cryptography==1.1
Pillow==9.5.0
whitenoise==6.4.0
django-environ==0.10.0
dj-database-url==2.0.0
django-heroku==0.3.1
python-decouple==3.8
reportlab==3.6.12
django-storages==1.13.2
psycopg2-binary
cloudinary==1.36.0
django-cloudinary-storage==0.3.0
dj-database-url
requests>=2.28.0

